<form method="POST" action="/products/{% if product.id %}{{ product.id }}{% endif %}">
    {% if product.id %}
        <input type="hidden" name="id" value="{{ product.id }}">
    {% endif %}
    <div class="divList">
        <label for="title" class="label">Name:</label>
        <input type="text" name="title" id="title" value="{{ product.title }}" />
    </div>
    <div class="divList">
        <label for="price" class="label">Price:</label>
        <input type="number" max="2000" min="0" name="price" id="price" value="{{ product.price }}" />
    </div>
    <div class="divList">
        <label for="description" class="label">Description:</label>
        <textarea name="description" id="description">{{ product.description }}</textarea>
    </div>
    <div class="divList">
        <!--if product is checked it is active: yes if product is not checked it is active: no-->
        <label for="is_active" class="label">Active:</label>
        <input type="checkbox" name="is_active" id="is_active" {% if product.is_active %}checked{% endif %} />
        
    </div>
    <div class="divList">
        <label for="slug" class="label">Slug:</label>
        <input type="text" name="slug" id="slug" value="{{ product.slug }}" />
    </div>
    <div class="divList">
        <input type="submit" type="submit" class="submitButton">
    </div>
</form>