{% extends 'layouts/base.twig' %}

{% block main_content %}
    <h2 class="text xl">About {{ product.title }}</h2>
    <ul class="homeList">
        <li>
            <label class="label">ID: </label>{{ product.id }}
        </li>
        <li>
            <label class="label">Name: </label>{{ product.title }} 
        </li>
        <li>
            <label class="label">Price: </label>{{ product.price }}
        </li>
        <li>
            <label class="label">Description: </label>{{ product.description }}
        </li>
        <li>
            <label class="label">Active: </label>{{ product.is_active ? 'Yes' : 'No' }}
        </li>
        <li>
            <label class="label">Slug: </label>{{ product.slug }}
        </li>
    </ul>
    <p>
        <a href="/products/{{ product.id }}/edit">Edit</a> | <a href="/products/{{ product.id }}/delete">Delete</a>
    </p>
{% endblock %}